<div class="form-group fieldset-group-set">
	<div class="row">

		<?php echo implode("\n" , $this->getData('form_set_elements')); ?>

		<div class="col-md-2 col-sm-3 col-xs-12 align-center actions">
			<div class="btn btn-primary a-btn-slide-text btn-add">
				<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
				<!-- <span><strong>Add</strong></span> -->
				<span><strong></strong></span>
			</div>
			<div class="btn btn-primary a-btn-slide-text btn-delete">
				<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
				<!-- <span><strong>Delete</strong></span> -->
				<span><strong></strong></span>
			</div>
		</div>
	</div>
</div>