<div
 class="row fieldset-row"
 data-fieldset-row="<?php echo $this->getData('field_name'); ?>"
	<?php if ($this->getData('form_field')->getData('attributes')): ?>
		<?php foreach ($this->getData('form_field')->getAttributes() as $name => $value): ?>
			<?php echo $name; ?>="<?php echo (string)$value; ?>"
		<?php endforeach;?>
	<?php endif; ?>
 >
	<div class="col-md-12">
		<div class="form-page-header fieldset-header">
			<h3><?php echo $this->__($this->getData('form_field')->getData('title')); ?></h3>
			<?php $_header_info = $this->__($this->getData('form_field')->getData('header_info')); ?>
			<div class="fieldset-header-info <?php if (empty($_header_info)): ?>hide<?php endif; ?> ">
				<?php echo $this->__($_header_info); ?>
			</div>
		</div>
		<div class="fieldset-group" data-fieldset-group="<?php echo $this->getData('field_name'); ?>">
			<?php echo implode("\n" , $this->getData('form_elements')); ?>
		</div>
	</div>
</div>