<form class="form-horizontal" id="megaForm-defaultForm-1" method="post" action="<?php echo $this->getFormActionUrl(); ?>"
	enctype='multipart/form-data'
	data-action-save="<?php echo $this->getControllerActionUrl(); ?>"
	data-action-saved="false"
	data-bv-message="This value is not valid"
	data-bv-feedbackicons-valid="icon icon-checkmark"
	data-bv-feedbackicons-invalid="icon icon-cancel2"
	data-bv-feedbackicons-validating="icon icon-sync"
	>

	<div class="no-view">
		<input name="form_key" type="hidden" value="<?php echo $this->getFormKey(); ?>" />
		<input name="previous_form_key" type="hidden" value="<?php echo $this->getPreviousFormKey(); ?>" />
		<input type="hidden" name="form_code" value="<?php echo $this->getFormCode(); ?>">
		<input type="hidden" name="current_url" value="<?php echo $this->getCurrentUrl(); ?>">
		<input type="hidden" name="on_success_url" value="<?php echo $this->getData('on_success_url'); ?>">
	</div>

	<div class="mega-form-builds container <?php echo $this->getData('form_code'); ?>">
		<?php echo implode("\n", $this->getData('captured_form_htmls')); ?>

		<?php if ($this->getData('include_actions')): ?>
			<div class="row append-btn">
				<div class="col-md-12">
					<div class="form-group-actions btn-cont-back quote-btns">
							<input type="submit" class="btn btn-primary btn-save" value="Save" data-page-param="<?php echo Mage::app()->getRequest()->getParam('form_key' , false); ?>" data-saved-url="<?php echo $this->getSavedUrl(); ?>" name="mode">
							<input type="submit" class="btn btn-primary" value="GET QUOTE" name="mode">
					</div>
				</div>
			</div>
		<?php endif?>

	</div>
</form>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('megaform_builder/js/main.js'); ?>"></script>