<form class="form-horizontal" id="megaForm-defaultForm-1" method="post" action="<?php echo $this->getFormActionUrl(); ?>"
	data-bv-message="This value is not valid"
	data-bv-feedbackicons-valid="icon icon-checkmark"
	data-bv-feedbackicons-invalid="icon icon-cancel2"
	data-bv-feedbackicons-validating="icon icon-sync"
	>
	<div class="no-view">
		<input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getMegaBuildFormKey() ?>" />
		<input type="hidden" name="request_forms" value="<?php echo $this->getData('request_forms'); ?>">
		<input type="hidden" name="on_success_url" value="<?php echo $this->getData('on_success_url'); ?>">
	</div>

	<div class="mega-form-builds container">

		<div class="row fieldset-row" data-fieldset-row="basic_information">
			<div class="col-md-12">
				<div class="form-page-header fieldset-header">
					<h3>Basic Information</h3>
					<div class="fieldset-header-info">Please provide the personal information of the person who will travel.</div>
				</div>
				<div class="form-group fieldset-group">
					<div class="col-md-6">
						<input class="form-control" placeholder="Last Name" type="text" name="basic_information[last_name]"
						required
						data-bv-excluded="false"
						data-bv-notempty-message="The is required and cannot be empty"/>
					</div>
					<div class="col-md-6">
						<input class="form-control" placeholder="First Name" type="text" name="basic_information[first_name]"
						required
						data-bv-excluded="false"
						data-bv-notempty-message="The is required and cannot be empty"/>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-12">
						<input class="form-control" placeholder="Address" type="text" name="basic_information[address]"
						required
						data-bv-excluded="false"
						data-bv-notempty-message="The is required and cannot be empty"/>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6">
						<div class="date-form-wrapper">
							<input type="text" class="form-control date calendar_input"  name="basic_information[issue_date]"
							data-bv-excluded="false"
							data-bv-notempty
							data-bv-notempty-message="The is required"
							data-date-range="false"
							data-bv-date="false"
							data-bv-date-format="YYYY-MM-DD"
							data-bv-date-message="The date is not valid"
							placeholder="Issue Date" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="date-form-wrapper">
							<input type="text" class="form-control date calendar_input"  name="basic_information[inception_date]"
							data-bv-excluded="false"
							data-bv-notempty
							data-bv-notempty-message="The is required"
							data-date-range="false"
							data-bv-date="false"
							data-bv-date-format="YYYY-MM-DD"
							data-bv-date-message="The date is not valid"
							placeholder="Inception Date" />
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6">
						<div class="date-form-wrapper">
							<input type="text" class="form-control date calendar_input"  name="basic_information[expiry_date]"
							data-bv-excluded="false"
							data-bv-notempty
							data-bv-notempty-message="The is required"
							data-date-range="false"
							data-bv-date="false"
							data-bv-date-format="YYYY-MM-DD"
							data-bv-date-message="The date is not valid"
							placeholder="Expiry Date" />
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row fieldset-row" data-fieldset-row="property_information">
			<div class="col-md-12">
				<div class="form-page-header fieldset-header">
					<h3>Property Information</h3>
				</div>
				<div class="form-group fieldset-group">
					<div class="col-md-6">
						<div class="select-form-wrapper">
							<select class="form-control" name="property_information[type_of_property]"
							data-bv-excluded="false"
							data-bv-notempty
							data-bv-notempty-message="The is required">
								<option value="">Type of Property Insured</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row fieldset-row" data-fieldset-row="location_risk" >
			<div class="col-md-12">
				<div class="form-page-header fieldset-header">
					<h3>Location of Risk</h3>
					<div class="fieldset-header-info hide"></div>
				</div>
				<div class="form-group fieldset-group">
					<div class="col-md-6">
						<div class="select-form-wrapper">
							<select class="form-control" name="location_risk[province]"
							data-bv-excluded="false"
							data-bv-notempty
							data-bv-notempty-message="The is required">
								<option value="">Province</option>
							</select>
						</div>
					</div> 
					<div class="col-md-6">
						<div class="select-form-wrapper">
							<select class="form-control" name="location_risk[city]"
							data-bv-excluded="false"
							data-bv-notempty
							data-bv-notempty-message="The is required" disabled="disabled">
								<option value="">City</option>
							</select>
						</div>
					</div> 
					<div class="clearfix"></div>
					<div class="col-md-6">
						<div class="select-form-wrapper">
							<select class="form-control" name="location_risk[barangay]"
							data-bv-excluded="false"
							data-bv-notempty
							data-bv-notempty-message="The is required" disabled="disabled">
								<option value="">Barangay</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<input class="form-control" placeholder="Block" type="text" name="location_risk[block]" required
						data-bv-excluded="false"
						data-bv-notempty-message="The is required and cannot be empty"/>
					</div>
				</div>
			</div>
		</div>

		<div class="row fieldset-row" data-fieldset-row="boundary_risk" >
			<div class="col-md-12">
				<div class="form-page-header fieldset-header">
					<h3>Boundary of Risk</h3>
					<div class="fieldset-header-info hide"></div>
				</div>
				<div class="form-group fieldset-group">
					<div class="col-md-6">
						<input class="form-control" placeholder="Left" type="text" name="boundary_risk[left]" required
						data-bv-excluded="false"
						data-bv-notempty-message="The is required and cannot be empty"/>
					</div> 
					<div class="col-md-6">
						<input class="form-control" placeholder="Right" type="text" name="boundary_risk[right]" required
						data-bv-excluded="false"
						data-bv-notempty-message="The is required and cannot be empty"/>
					</div> 
					<div class="clearfix"></div>
					<div class="col-md-6">
						<input class="form-control" placeholder="Front" type="text" name="boundary_risk[front]" required
						data-bv-excluded="false"
						data-bv-notempty-message="The is required and cannot be empty"/>
					</div>
					<div class="col-md-6">
						<input class="form-control" placeholder="Rear" type="text" name="boundary_risk[rear]" required
						data-bv-excluded="false"
						data-bv-notempty-message="The is required and cannot be empty"/>
					</div>
				</div>
			</div>
		</div>

		<div class="row fieldset-row" data-fieldset-row="requirements" >
			<div class="col-md-12">
				<div class="form-page-header fieldset-header">
					<h3>Requirements</h3>
					<div class="fieldset-header-info hide"></div>
				</div>
				<div class="form-group fieldset-group">
					<div class="col-md-6">
						<div class="select-form-wrapper">
							<select class="form-control" name="requirements[roofing]"
							data-bv-excluded="false"
							data-bv-notempty
							data-bv-notempty-message="The is required">
								<option value="">Roofing</option>
							</select>
						</div>
					</div> 
					<div class="col-md-6">
						<div class="select-form-wrapper">
							<select class="form-control" name="requirements[partition_wall_ceiling]"
							data-bv-excluded="false"
							data-bv-notempty
							data-bv-notempty-message="The is required">
								<option value="">Partition wall and ceiling</option>
							</select>
						</div>
					</div> 
					<div class="clearfix"></div>
					<div class="col-md-6">
						<div class="select-form-wrapper">
							<select class="form-control" name="requirements[floor_finishes]"
							data-bv-excluded="false"
							data-bv-notempty
							data-bv-notempty-message="The is required">
								<option value="">Floor Finishes</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="select-form-wrapper">
							<select class="form-control" name="requirements[doors]"
							data-bv-excluded="false"
							data-bv-notempty
							data-bv-notempty-message="The is required">
								<option value="">Doors</option>
							</select>
						</div>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6">
						<div class="select-form-wrapper">
							<select class="form-control" name="requirements[windows]"
							data-bv-excluded="false"
							data-bv-notempty
							data-bv-notempty-message="The is required">
								<option value="">Windows</option>
							</select>
						</div>
					</div>
					<div class="col-md-6">
						<div class="select-form-wrapper">
							<select class="form-control" name="requirements[paint_finish]"
							data-bv-excluded="false"
							data-bv-notempty
							data-bv-notempty-message="The is required">
								<option value="">Paint Finish</option>
							</select>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row fieldset-row" data-fieldset-row="promo_code" >
			<div class="col-md-12">
				<div class="form-page-header fieldset-header">
					<h3>Promo Code</h3>
					<div class="fieldset-header-info hide"></div>
				</div>
				<div class="form-group fieldset-group">
					<div class="col-md-3 col-sm-6 col-xs-12">
						<input class="form-control" placeholder="Promo Code" type="text" name="promo_code[promo_code]"/>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="form-group-actions">
					<div class="pull-left actions">
						<input type="reset" class="btn btn-primary">
					</div>
					<div class="pull-left actions">
						<input type="submit" class="btn btn-primary">
					</div>
				</div>
			</div>
		</div>

	</div>
</form>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('megaform_builder/js/main.js'); ?>"></script>