<form class="form-horizontal" id="megaForm-defaultForm-1" method="post" action="<?php echo $this->getFormActionUrl(); ?>"
	data-bv-message="This value is not valid"
	data-bv-feedbackicons-valid="icon icon-checkmark"
	data-bv-feedbackicons-invalid="icon icon-cancel2"
	data-bv-feedbackicons-validating="icon icon-sync"
	>
	<div class="no-view">
		<input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getMegaBuildFormKey() ?>" />
		<input type="hidden" name="request_forms" value="<?php echo $this->getData('request_forms'); ?>">
		<input type="hidden" name="on_success_url" value="<?php echo $this->getData('on_success_url'); ?>">
	</div>

	<div class="mega-form-builds container itp">

		<div class="row fieldset-row" data-fieldset-row="cover_information">
			<div class="col-md-12">
				<div class="form-page-header fieldset-header">
					<h3>Please select cover of Individual</h3>
					<div class="fieldset-header-info hide"></div>
				</div>
				<div class="form-group fieldset-group">
					<div class="col-md-12">
						<div class="radio_group" data-inssurance-type data-fieldset-group="cover_type">
							<label class="radio-inline">
								<input type="radio" class="cover_type" name="cover_information[cover_type]" value="Individual" checked="checked"> Individual
							</label>
							<label class="radio-inline">
								<input type="radio" class="cover_type" name="cover_information[cover_type]" value="Group"> Group
							</label>
						</div>
					</div>
					<div class="col-md-12 cover_information">
						<div class="radio_group" 
						data-inssurance-group-type >
							<label class="radio-inline">
								<input type="radio" class="group_type" name="cover_information[group_type]" value="Family" checked="checked"> Family
							</label>
							<label class="radio-inline">
								<input type="radio" class="group_type" name="cover_information[group_type]" value="Group"> Group
							</label>
							<label class="radio-inline">
								<input type="radio" class="group_type" name="cover_information[group_type]" value="Company"> Company
							</label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row fieldset-row" 
		data-fieldset-row="personal_information" 
		data-fieldset-group-condition='["cover_information-cover_type","cover_information-cover_type-group_type"]' 
		data-fieldset-group='{"cover_type":["Individual","Group"],"group_type":["Family"]}'>
			<div class="col-md-12">
				<div class="form-page-header fieldset-header">
					<h3>Personal Information</h3>
					<div class="fieldset-header-info">Please provide the personal information of the person who will travel.</div>
				</div>
				<div class="form-group fieldset-group">
					<div class="col-md-6">
						<input class="form-control" placeholder="Last Name" type="text" name="personal_information[last_name]"
						required
						data-bv-excluded="false"
						data-bv-notempty-message="The is required and cannot be empty"/>
					</div>
					<div class="col-md-6">
						<input class="form-control" placeholder="First Name" type="text" name="personal_information[first_name]"
						required
						data-bv-excluded="false"
						data-bv-notempty-message="The is required and cannot be empty"/>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-6">
						<div class="date-form-wrapper">
							<input type="text" class="form-control date calendar_input"  name="personal_information[birth_date]"
							data-bv-excluded="false"
							data-bv-notempty
							data-bv-notempty-message="The is required"
							data-date-range="false"
							data-bv-date="false"
							data-bv-date-format="YYYY-MM-DD"
							data-bv-date-message="The date is not valid"
							placeholder="Date of Birth" />
						</div>
					</div>
					<div class="col-md-6">
						<div class="select-form-wrapper">
							<select class="form-control" name="personal_information[civil_status]"
							data-bv-excluded="false"
							data-bv-notempty
							data-bv-notempty-message="The is required">
							<option value="">Civil Status</option>
							<option value="Single">Single</option>
							<option value="Married">Married</option>
							<option value="Separated">Separated</option>
							<option value="Divorced">Divorced</option>
							<option value="widowed">Widowed</option>
						</select>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row fieldset-row" 
	data-fieldset-row="group_information" 
	data-fieldset-group-condition='["cover_information-cover_type-group_type"]' 
	data-fieldset-group='{"cover_type":["Group"],"group_type":["Group"]}'>
		<div class="col-md-12">
			<div class="form-page-header fieldset-header">
				<h3>Group Information</h3>
			</div>
			<div class="form-group fieldset-group">
				<div class="col-md-6 form_content" data-property="group_info" data-group-type="Group">
					<div class="form_line">
						<div class="form_input required">
							<input type="text" class="form-control required group_name" name="group_information[group_name]" placeholder="Group Name"
							required
							data-bv-excluded="false"
							data-bv-notempty-message="The is required and cannot be empty">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row fieldset-row" 
	data-fieldset-row="company_information" 
	data-fieldset-group-condition='["cover_information-cover_type-group_type"]' 
	data-fieldset-group='{"cover_type":["Group"],"group_type":["Company"]}'>
		<div class="col-md-12">
			<div class="form-page-header fieldset-header">
				<h3>Company Information</h3>
			</div>
			<div class="form-group fieldset-group">
				<div class="col-md-6 form_content" data-property="group_info" data-group-type="Group">
					<div class="form_line">
						<div class="form_input required">
							<input type="text" class="form-control required group_name" name="company_information[company_name]" placeholder="Company Name"
							required
							data-bv-excluded="false"
							data-bv-notempty-message="The is required and cannot be empty">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row fieldset-row" 
	data-fieldset-row="contact_person" 
	data-fieldset-group-condition='["cover_information-cover_type-group_type"]' 
	data-fieldset-group='{"cover_type":["Group"],"group_type":["Group","Company"]}'>
		<div class="col-md-12">
			<div class="form-page-header fieldset-header">
				<h3>Contact Person</h3>
				<div class="fieldset-header-info">Please provide the personal information of the contact person of the group. The contact person should be travelling with the group.</div>
			</div>
			<div class="form-group fieldset-group">
				<div class="col-md-6">
					<input class="form-control" placeholder="Last Name" type="text" name="contact_person[last_name]"
					required
					data-bv-excluded="false"
					data-bv-notempty-message="The is required and cannot be empty"/>
				</div>
				<div class="col-md-6">
					<input class="form-control" placeholder="First Name" type="text" name="contact_person[first_name]"
					required
					data-bv-excluded="false"
					data-bv-notempty-message="The is required and cannot be empty"/>
				</div>
				<div class="clearfix"></div>
				<div class="col-md-6">
					<input type="text" class="form-control date calendar_input" name="contact_person[birth_date]"
					required
					data-bv-excluded="false"
					data-bv-notempty-message="The is required and cannot be empty"
					data-date-range="false"
					data-bv-date="false"
					data-bv-date-format="YYYY-MM-DD"
					data-bv-date-message="The birthday is not valid"
					placeholder="Date of Birth" />
				</div>
				<div class="col-md-6">
					<div class="select-form-wrapper">
						<select class="form-control"  name="contact_person[civil_status]"
						data-bv-excluded="false"
						data-bv-notempty
						data-bv-notempty-message="The is required">
						<option value="">Civil Status</option>
						<option value="Single">Single</option>
						<option value="Married">Married</option>
						<option value="Separated">Separated</option>
						<option value="Divorced">Divorced</option>
						<option value="Widowed">Widowed</option>
					</select>
				</div>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-6">
				<input class="form-control" placeholder="Destination" type="text" name="contact_person[destination]"
				required
				data-bv-excluded="false"
				data-bv-notempty-message="The is required and cannot be empty"/>
			</div>
		</div>
	</div>
</div>

<div class="row fieldset-row" data-fieldset-row="contact_information" >
	<div class="col-md-12">
		<div class="form-page-header fieldset-header">
			<h3>Contact Information</h3>
			<div class="fieldset-header-info">Note: Please provide either Telephone Number or Mobile Number</div>
		</div>
		<div class="form-group fieldset-group">
			<div class="col-md-6">
				<input class="form-control" placeholder="Email Address" type="email" name="contact_information[email]"
				required
				data-bv-excluded="false"
				data-bv-notempty-message="The is required and cannot be empty"/>
			</div>
			<div class="col-md-6">
				<input class="form-control telephone-number" placeholder="Telephone Number" type="text" name="contact_information[telephone_number]"
				data-bv-excluded="false"
				data-bv-message="The telephone number is not valid"
				required data-bv-notempty-message="The is required and cannot be empty"
				pattern="^^\(?([0-9]{2})\)?[-. ]?([0-9]{7})$"
				data-bv-regexp-message="The telephone is invalid format"/>
				<label class="field-item-note">Sample Format: 02-1234567</label>
			</div>
			<div class="clearfix"></div>
			<div class="col-md-6">
				<input class="form-control mobile-number" placeholder="Mobile Number" type="text" name="contact_information[mobile_number]"
				data-bv-excluded="false"
				data-bv-message="The mobile number is not valid"
				required data-bv-notempty-message="The is required and cannot be empty"
				pattern="^^\(?([0-9]{2})\)?[-. ]?([0-9]{3})?[-. ]?([0-9]{7})$"
				data-bv-regexp-message="The mobile number is invalid format"/>
				<label class="field-item-note">Sample Format: 63-900-1234567</label>
			</div>
		</div>
	</div>
</div>

<div class="row fieldset-row" data-fieldset-row="travel_information" >
	<div class="col-md-12">
		<div class="form-page-header fieldset-header">
			<h3>Travel Information</h3>
			<div class="fieldset-header-info hide"></div>
		</div>
		<div class="form-group fieldset-group">
			<div class="col-md-6">
				<div class="select-form-wrapper">
					<select class="form-control" name="travel_information[purpose_of_travel]"
					data-bv-excluded="false"
					data-bv-notempty
					data-bv-notempty-message="The is required">
					<option value="">Purpose of Travel</option>
					<option value="Business">Business</option>
					<option value="Leisure">Leisure</option>
					<option value="Office-Based Training / Seminar">Office-Based Training / Seminar</option>
					<option value="Conference">Conference</option>
					<option value="Others">Others</option>
				</select>
			</div>
		</div>
	</div>
</div>
</div>

<div class="row fieldset-row" data-fieldset-row="itinerary" >
	<div class="col-md-12">
		<div class="form-page-header fieldset-header">
			<h3>Itinerary</h3>
			<div class="fieldset-header-info">
				Please specify the countries you will travel to and the duration of your trip.</br>Note: Please don't include stopovers</div>
			</div>
			<div class="fieldset-group">
				<div class="form-group fieldset-group-set">
					<div class="row">
						<div class="col-md-4 col-sm-12 col-xs-12">
							<div class="select-form-wrapper">
								<select class="form-control" name="itinerary[destination][]"
								data-bv-excluded="false"
								data-bv-notempty
								data-bv-notempty-message="The is required">
								<option value="">Destination</option>
								<option value="1">1</option>
							</select>
						</div>
					</div>
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="date-form-wrapper">
							<input type="text" class="form-control date calendar_input" name="itinerary[start_date][]"
							data-bv-excluded="false"
							data-bv-notempty
							data-bv-notempty-message="The is required"
							data-date-range-id="1"
							data-date-range="true"
							data-date-range-line="start"
							data-bv-date="false"
							data-bv-date-format="YYYY-MM-DD"
							data-bv-date-message="The date is not valid"
							placeholder="Date of Departure" />
						</div>
					</div>
					<div class="col-md-3 col-sm-12 col-xs-12">
						<div class="date-form-wrapper">
							<input type="text" class="form-control date calendar_input" name="itinerary[end_date][]"
							data-bv-excluded="false"
							data-bv-notempty
							data-bv-notempty-message="The is required"
							data-date-range-id="1"
							data-date-range="true"
							data-date-range-line="end"
							data-bv-date="false"
							data-bv-date-format="YYYY-MM-DD"
							data-bv-date-message="The date is not valid"
							placeholder="Date of Return to the Philippines" />
						</div>
					</div>
					<div class="col-md-2 col-sm-3 col-xs-12 align-center actions">
						<div class="btn btn-primary a-btn-slide-text btn-add">
							<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
							<!-- <span><strong>Add</strong></span> -->
							<span><strong></strong></span>
						</div>
						<div class="btn btn-primary a-btn-slide-text btn-delete">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
							<!-- <span><strong>Delete</strong></span> -->
							<span><strong></strong></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row fieldset-row" 
data-fieldset-row="family_members" 
data-fieldset-group-condition='["cover_information-cover_type-group_type"]' 
data-fieldset-group='{"cover_type":["Group"],"group_type":["Family"]}'>
	<div class="col-md-12">
		<div class="form-page-header fieldset-header">
			<h3>Family Members</h3>
			<div class="fieldset-header-info">Please provide the information of the family members who will be joining the trip.</div>
		</div>
		<div class="fieldset-group">
			<div class="form-group fieldset-group-set">
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12">
						<input class="form-control" placeholder="Last Name" type="text" name="family_members[last_name][]"
						required
						data-bv-excluded="false"
						data-bv-notempty-message="This is required and cannot be empty"/>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
						<input class="form-control" placeholder="First Name" type="text" name="family_members[first_name][]"
						required
						data-bv-excluded="false"
						data-bv-notempty-message="This is required and cannot be empty"/>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-4 col-sm-12 col-xs-12">
						<input type="text" class="form-control date calendar_input" name="family_members[birth_date][]"
						data-bv-excluded="false"
						data-bv-notempty
						data-bv-notempty-message="The is required"
						data-date-range="false"
						data-bv-date="false"
						data-bv-date-format="YYYY-MM-DD"
						data-bv-date-message="The date is not valid"
						placeholder="Date of Birth" />
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="select-form-wrapper">
							<select class="form-control" name="family_members[relations][]"
							data-bv-excluded="false"
							data-bv-notempty
							data-bv-notempty-message="The is required">
							<option value="">Relations</option>
							<option value="Parent">Parent</option>
							<option value="Sibling">Sibling</option>
							<option value="Spouse">Spouse</option>
							<option value="Child">Child</option>
							<option value="Aunt">Aunt</option>
							<option value="Uncle">Uncle</option>
							<option value="Niece">Niece</option>
							<option value="Nephew">Nephew</option>
							<option value="Grand Parent">Grand Parent</option>
							<option value="Grand Child">Grand Child</option>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="select-form-wrapper">
						<select class="form-control" name="family_members[civil_status][]"
						data-bv-excluded="false"
						data-bv-notempty
						data-bv-notempty-message="The is required">
						<option value="">Civil Status</option>
						<option value="Single">Single</option>
						<option value="Married">Married</option>
						<option value="Separated">Separated</option>
						<option value="Divorced">Divorced</option>
						<option value="Widowed">Widowed</option>
					</select>
				</div>
			</div>
			<div class="col-md-2 col-sm-3 col-xs-12 align-center actions">
				<div class="btn btn-primary a-btn-slide-text btn-add">
					<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
					<!-- <span><strong>Add</strong></span> -->
					<span><strong></strong></span>
				</div>
				<div class="btn btn-primary a-btn-slide-text btn-delete">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
					<!-- <span><strong>Delete</strong></span> -->
					<span><strong></strong></span>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>

<div class="row fieldset-row" 
data-fieldset-row="members" 
data-fieldset-group-condition='["cover_information-cover_type-group_type"]' 
data-fieldset-group='{"cover_type":["Group"],"group_type":["Group","Company"]}'>
	<div class="col-md-12">
		<div class="form-page-header fieldset-header">
			<h3>Members</h3>
			<div class="fieldset-header-info">Please provide the information of the family members who will be joining the trip.</div>
		</div>
		<div class="fieldset-group">
			<div class="form-group fieldset-group-set">
				<div class="row">
					<div class="col-md-6 col-sm-12 col-xs-12">
						<input class="form-control" placeholder="Last Name" type="text" name="members[last_name][]"
						required
						data-bv-excluded="false"
						 data-bv-notempty-message="This is required and cannot be empty"/>
					</div>
					<div class="col-md-6 col-sm-12 col-xs-12">
						<input class="form-control" placeholder="First Name" type="text" name="members[first_name][]"
						required
						data-bv-excluded="false"
						 data-bv-notempty-message="This is required and cannot be empty"/>
					</div>
					<div class="clearfix"></div>
					<div class="col-md-4 col-sm-12 col-xs-12">
						<input type="text" class="form-control date calendar_input" name="members[birth_date][]"
						data-bv-excluded="false"
						data-bv-notempty
						data-bv-notempty-message="The is required"
						data-date-range="false"
						data-bv-date="false"
						data-bv-date-format="YYYY-MM-DD"
						data-bv-date-message="The date is not valid"
						placeholder="Date of Birth" />
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<input class="form-control" placeholder="Relationship" type="text" name="members[relationship][]"
						required
						data-bv-excluded="false"
						 data-bv-notempty-message="This is required and cannot be empty"/>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="select-form-wrapper">
							<select class="form-control" name="members[civil_status][]"
						data-bv-excluded="false"
							data-bv-notempty
							data-bv-notempty-message="The is required">
							<option value="">Civil Status</option>
							<option value="Single">Single</option>
							<option value="Married">Married</option>
							<option value="Separated">Separated</option>
							<option value="Divorced">Divorced</option>
							<option value="Widowed">Widowed</option>
						</select>
					</div>
				</div>
				<div class="col-md-2 col-sm-3 col-xs-12 align-center actions">
					<div class="btn btn-primary a-btn-slide-text btn-add">
						<span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
						<!-- <span><strong>Add</strong></span> -->
						<span><strong></strong></span>
					</div>
					<div class="btn btn-primary a-btn-slide-text btn-delete">
						<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
						<!-- <span><strong>Delete</strong></span> -->
						<span><strong></strong></span>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>

<div class="row fieldset-row" data-fieldset-row="package" >
	<div class="col-md-12">
		<div class="form-page-header fieldset-header">
			<h3>Package</h3>
			<div class="fieldset-header-info">For more information about our International Travel Protect packages, <a href="/products">click here.</a></div>
		</div>
		<div class="form-group fieldset-group">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<div class="select-form-wrapper">
					<select class="form-control" name="package[package]"
						data-bv-excluded="false"
					data-bv-notempty
					data-bv-notempty-message="The is required">
					<option value="">Package</option>
					<option value="Silver">Silver</option>
					<option value="Gold">Gold</option>
					<option value="Platinum">Platinum</option>
				</select>
			</div>
		</div>
	</div>
</div>
</div>

<div class="row fieldset-row" data-fieldset-row="promo_code" >
	<div class="col-md-12">
		<div class="form-page-header fieldset-header">
			<h3>Promo Code</h3>
			<div class="fieldset-header-info hide"></div>
		</div>
		<div class="form-group fieldset-group">
			<div class="col-md-3 col-sm-6 col-xs-12">
				<input class="form-control" placeholder="Promo Code" type="text" name="promo_code[promo_code]"/>
			</div>
		</div>
	</div>
</div>

<div class="row fieldset-row key-term" data-fieldset-row="key_term" >
	<div class="col-md-12">
		<div class="form-group">
			<div class="checkbox col-md-12">
				<label class="checkbox-inline no_indent good_health">
					<input type="checkbox" name="key_term[good_health]" required
						data-bv-excluded="false"
						data-bv-message="Please agree at the above statement" >
					I am/we are in good health, free from physical impairment or deformity, and I/am are not travelling to receive medical treatment.
				</label>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12">
		<div class="form-group-actions">
			<div class="pull-left actions">
				<input type="reset" class="btn btn-primary">
			</div>
			<div class="pull-left actions">
				<input type="submit" class="btn btn-primary">
			</div>
		</div>
	</div>
</div>

</div>
</form>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('megaform_builder/js/main.js'); ?>"></script>