<form class="form-horizontal" id="megaForm-defaultForm-1" method="post" action="<?php echo $this->getFormActionUrl(); ?>"
	data-bv-message="This value is not valid"
	data-bv-feedbackicons-valid="icon icon-checkmark"
	data-bv-feedbackicons-invalid="icon icon-cancel2"
	data-bv-feedbackicons-validating="icon icon-sync"
	>
	<div class="no-view">
		<input name="form_key" type="hidden" value="<?php echo Mage::getSingleton('core/session')->getMegaBuildFormKey() ?>" />
		<input type="hidden" name="request_forms" value="<?php echo $this->getData('request_forms'); ?>">
		<input type="hidden" name="on_success_url" value="<?php echo $this->getData('on_success_url'); ?>">
	</div>
	<div class="mega-form-builds container motor">
		<div data-slide>
			<div class="row fieldset-row" data-fieldset-row="personal_information" data-on-submit-exclude="false">
				<div class="col-md-12">
					<div class="form-page-header fieldset-header">
						<h3>Personal Information</h3>
						<div class="fieldset-header-info hide"></div>
					</div>
					<div class="form-group fieldset-group">
						<div class="col-md-4">
							<input class="form-control" placeholder="First Name" type="text" name="personal_information[first_name]"
							required
							data-bv-excluded="false"
							data-bv-notempty-message="This is required and cannot be empty."
							data-on-save-exclude="true" />
						</div>
						<div class="col-md-4">
							<input class="form-control" placeholder="Middle Name" type="text" name="personal_information[middle_name]"
							required
							data-bv-excluded="false"
							data-bv-notempty-message="This is required and cannot be empty."
							data-on-save-exclude="true" />
						</div>
						<div class="col-md-4">
							<input class="form-control" placeholder="Last Name" type="text" name="personal_information[last_name]"
							required
							data-bv-excluded="false"
							data-bv-notempty-message="This is required and cannot be empty."
							data-on-save-exclude="true" />
						</div>
					</div>
				</div>
			</div>

			<div class="row fieldset-row" data-fieldset-row="contact_information">
				<div class="col-md-12">
					<div class="form-page-header fieldset-header">
						<h3>Contact Information</h3>
						<div class="fieldset-header-info">Note: Please provide either Telephone Number or Mobile Number</div>
					</div>
					<div class="form-group fieldset-group">
						<div class="col-md-4">
							<input class="form-control" placeholder="Email Address" type="email" name="contact_information[email]"
							required
							data-bv-excluded="false"
							data-bv-notempty-message="This is required and cannot be empty."
							data-on-save-exclude="true"/>
						</div>
						<div class="col-md-4">
							<input class="form-control telephone-number" placeholder="Telephone Number" type="text" name="contact_information[telephone_number]"
							data-bv-excluded="false"
							data-bv-message="The telephone number is not valid"
							required data-bv-notempty-message="This is required and cannot be empty."
							pattern="^^\(?([0-9]{2})\)?[-. ]?([0-9]{7})$"
							data-bv-regexp-message="The telephone is invalid format"
							data-on-save-exclude="true" />
							<label class="field-item-note">Sample Format: 02-1234567</label>
						</div>
						<div class="col-md-4">
							<input class="form-control mobile-number" placeholder="Mobile Number" type="text" name="contact_information[mobile_number]"
							data-bv-excluded="false"
							data-bv-message="The mobile number is not valid"
							required data-bv-notempty-message="This is required and cannot be empty."
							pattern="^^\(?([0-9]{2})\)?[-. ]?([0-9]{3})?[-. ]?([0-9]{7})$"
							data-bv-regexp-message="The mobile number is invalid format"
							data-on-save-exclude="true" />
							<label class="field-item-note">Sample Format: 63-900-1234567</label>
						</div>
					</div>
				</div>
			</div>
			<div class="row fieldset-row" data-fieldset-row="location_vehicle">
				<div class="col-md-12">
					<div class="form-page-header fieldset-header">
						<h3>Location of Vehicle</h3>
						<div class="fieldset-header-info hide"></div>
					</div>
					<div class="form-group fieldset-group">
						<div class="col-md-4">
							<div class="select-form-wrapper">
								<select class="form-control" name="location_vehicle[province]"
								data-bv-excluded="false"
								data-bv-notempty
								data-bv-notempty-message="This is required and cannot be empty."
								data-on-save-exclude="true" >
									<option value="">Province</option>
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="select-form-wrapper">
								<select class="form-control" name="location_vehicle[city]"
								data-bv-excluded="false"
								data-bv-notempty
								data-bv-notempty-message="This is required and cannot be empty." disabled="disabled"
								data-on-save-exclude="true" >
									<option value="">City</option>
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="select-form-wrapper">
								<select class="form-control" name="location_vehicle[barangay]"
								data-bv-excluded="false"
								data-bv-notempty
								data-bv-notempty-message="This is required and cannot be empty." disabled="disabled"
								data-on-save-exclude="true">
									<option value="">Barangay</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<div data-slide>
			<div class="row fieldset-row" data-fieldset-row="insurance_required">
				<div class="col-md-12 cut">
					<div class="form-page-header fieldset-header">
						<h3>Insurance Required</h3>
						<div class="fieldset-header-info">
							For more information about our Motor Coverage, <a href="/products/motor.html">click here.</a>
						</div>
					</div>
					<div class="form-group fieldset-group">
						<div class="col-md-12">
							<div class="checkbox">
							<label class="checkbox-inline no_indent good_health">
								<input type="checkbox" name="insurance_required[for_rent]" data-bv-excluded="false" data-on-save-exclude="true">
									Is your vehicle used for rent or hire?
							</label>
						</div>
						</div>
						<div class="col-md-6">
							<div class="select-form-wrapper">
								<select class="form-control" name="insurance_required[type_insurance]"
								data-bv-excluded="false"
								data-bv-notempty
								data-bv-notempty-message="This is required and cannot be empty."
								data-on-save-exclude="true">
									<option value="">Type of Insurance</option>
									<option value="Comprehensive">Comprehensive</option>
									<option value="CPTL">CPTL</option>
									<option value="Comprehensive with CPTL">Comprehensive with CPTL</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row fieldset-row" data-fieldset-row="insurance_required_others" data-fieldset-group-condition='["insurance_required-type_insurance"]' data-fieldset-group='{"type_insurance":["Comprehensive"]}'>
				<div class="col-md-12 cut">
					<div class="form-page-header fieldset-header hide"></div>
					<div class="form-group fieldset-group">
						<div class="col-md-6">
							<div class="select-form-wrapper">
								<select class="form-control" name="insurance_required[bodily_injury]"
								data-bv-excluded="false"
								data-bv-notempty
								data-bv-notempty-message="This is required and cannot be empty."
								data-on-save-exclude="true">
									<option value="">Bodily Injury (VTPL-BI)</option>
									<option value="50000">50,000</option>
									<option value="75000">75,000</option>
									<option value="100000">100,000</option>
									<option value="150000">150,000</option>
									<option value="200000">200,000</option>
									<option value="250000">250,000</option>
									<option value="300000">300,000</option>
									<option value="400000">400,000</option>
									<option value="400000">400,000</option>
									<option value="500000">500,000</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<div class="select-form-wrapper">
								<select class="form-control" name="insurance_required[property_image]"
								data-bv-excluded="false"
								data-bv-notempty
								data-bv-notempty-message="This is required and cannot be empty."
								data-on-save-exclude="true">
									<option value="">Property Damage (VTPL-PD)</option>
									<option value="50000">50,000</option>
									<option value="75000">75,000</option>
									<option value="100000">100,000</option>
									<option value="150000">150,000</option>
									<option value="200000">200,000</option>
									<option value="250000">250,000</option>
									<option value="300000">300,000</option>
									<option value="400000">400,000</option>
									<option value="400000">400,000</option>
									<option value="500000">500,000</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row fieldset-row" data-fieldset-row="insurance_required_car_details">
				<div class="col-md-12">
					<div class="form-page-header fieldset-header hide"></div>
					<div class="form-group fieldset-group">
						<div class="col-md-4">
							<div class="select-form-wrapper">
								<select class="form-control" name="insurance_required[year_model]"
								data-bv-excluded="false"
								data-bv-notempty
								data-bv-notempty-message="This is required and cannot be empty."
								data-on-save-exclude="true">
									<option value="">Year Model</option>
									<option value="Year Model">Year Model</option>
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="select-form-wrapper">
								<select class="form-control" name="insurance_required[brand]"
								data-bv-excluded="false"
								data-bv-notempty
								data-bv-notempty-message="This is required and cannot be empty."
								data-on-save-exclude="true">
									<option value="">Brand</option>
									<option value="Brand">Brand</option>
								</select>
							</div>
						</div>
						<div class="col-md-4">
							<div class="select-form-wrapper">
								<select class="form-control" id="model-name" name="insurance_required[model_name]"
								data-bv-excluded="false"
								data-bv-notempty
								data-bv-notempty-message="This is required and cannot be empty."
								data-on-save-exclude="true">
									<option value="">Model Name</option>
									<option value="Model">Model Name</option>
									<option value="Name">Model Name</option>
								</select>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row fieldset-row" data-fieldset-row="value_vehicle">
				<div class="col-md-12">
					<div class="form-page-header fieldset-header">
						<h3>Value of Vehicle</h3>
						<div class="fieldset-header-info hide"></div>
					</div>
					<div class="form-group fieldset-group">
						<div class="slider">
							<div class="row">
								<div class="col-md-12 ">
										<div class="slider-range value_vehicle" data-min-val="23423423423" data-max-val="23423423423" data-default-val="12345"></div>
										<div class="pull-left"><span class="slider-left"></span></div>
										<div class="pull-right"><span class="slider-right"></span></div>
								</div>
								<div class="col-md-9">
									<input type="text" class="form-control amount" name="value_vehicle[fmv]">
								</div>
								<div class="col-md-3">
									<input type="button" class="btn btn-change" value="CHANGE">
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="col-md-6">
								<span>Total Value : Php </span><span class="value_vehicle[total_value]"></span>
							</div>
						</div>
						<div class="slider">
							<div class="row">
								<div class="col-md-12 ">
										<div class="slider-range value_vehicle" data-min-val="10000" data-max-val="100000" data-default-val="12345"></div>
										<div class="pull-left"><span class="slider-left"></span></div>
										<div class="pull-right"><span class="slider-right"></span></div>
								</div>
								<div class="col-md-9">
									<input type="text" class="form-control amount" name="value_vehicle[fmv]">
								</div>
								<div class="col-md-3">
									<input type="button" class="btn btn-change" value="CHANGE">
								</div>
							</div>
							<div class="clearfix"></div>
							<div class="col-md-6">
								<span>Total Value : Php </span><span class="value_vehicle[total_value]"></span>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="row fieldset-row" data-fieldset-row="promo_code">
				<div class="col-md-12">
					<div class="form-page-header fieldset-header">
						<h3>Promo Code</h3>
						<div class="fieldset-header-info hide"></div>
					</div>
					<div class="form-group fieldset-group">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<input class="form-control" placeholder="Promo Code" type="text" name="promo_code[promo_code]"/>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12">
					<div class="form-group-actions btn-cont-back">
						<div class="col-xs-4 actions btn-center col-cus-btn-12">
							<!-- <input type="reset" class="btn btn-primary"> -->
							<input type="button" class="btn btn-primary" value="Save">
						</div>
						<div class="col-xs-4 actions btn-right col-cus-btn-12">
							<input type="submit" class="btn btn-primary" value="GET QUOTE">
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
</form>
<script type="text/javascript" src="<?php echo $this->getSkinUrl('megaform_builder/js/main.js'); ?>"></script>