<!-- config enabled always -->
<?php if (!$this->getConfigEnabled()): ?>
	<?php return false;?>
<?php endif;?>

<?php
	$filter  = new Mage_Widget_Model_Template_Filter();
	$_widget = $filter->filter('{{widget type="builder/forms" request_forms="motor" form_show="always" on_success_url="/checkout/onepage"}}');
	echo $_widget;
?>