<?php $_element_data = $this->getElementData();?>
<?php if (!empty($_element_data->getData('clearfix_before'))): ?>
	<div class="clearfix"></div>
<?php endif; ?>
<div class="col-md-<?php echo (($_element_data->getColumn()) ? $_element_data->getColumn() : '12'); ?>">
		<input
		data-builder-default-value="<?php echo $this->getFormValues(); ?>"
		type="file"
		class="form-control"
		placeholder="<?php echo $this->__($_element_data->getPlaceholder()); ?>"
		name="<?php echo $this->getFieldName(); ?>[<?php echo $this->getElementName(); ?>]<?php if ($this->getFormGroupType() == MegaForm_Builder_Block_Form_Entities_Abstract::FIELD_MULTIPLE): ?>[]<?php endif;?>"
		value="<?php echo $this->getFormValues(); ?>"
		<?php if ($_element_data->getRequired()): ?>
			required
		<?php endif;?>
		<?php if ($this->isFormKeyExist()): ?>
			disabled="disabled"
		<?php endif;?>
		<?php if ($_element_data->getData('attributes')): ?>
			<?php foreach ($_element_data->getAttributes() as $name => $value): ?>
				<?php if (strpos($value, '"') !== false ): ?>
					<?php echo $name; ?>='<?php echo (string) $value; ?>'				
				<?php else: ?>
					<?php echo $name; ?>="<?php echo (string) $value; ?>"
				<?php endif; ?>
			<?php endforeach;?>
		<?php endif;?>
		/>
		<?php if (!empty($_element_data->getData('item_note'))): ?>
			<label class="field-item-note"><?php echo $this->__($_element_data->getData('item_note')); ?></label>
		<?php endif;?>
</div>
<?php if (!empty($_element_data->getData('clearfix_after'))): ?>
	<div class="clearfix"></div>
<?php endif; ?>
