<?php $_element_data = $this->getElementData();?>
<?php if (!empty($_element_data->getData('clearfix_before'))): ?>
	<div class="clearfix"></div>
<?php endif; ?>
<div class="col-md-<?php echo (($_element_data->getColumn()) ? $_element_data->getColumn() : '12'); ?>">
	<div class="select-form-wrapper">
		<select
			data-builder-default-value="<?php echo $this->getFormValues(); ?>"
			class="form-control"
			name="<?php echo $this->getFieldName(); ?>[<?php echo $this->getElementName(); ?>]<?php if ($this->getFormGroupType() == MegaForm_Builder_Block_Form_Entities_Abstract::FIELD_MULTIPLE): ?>[]<?php endif;?>"
			<?php if ($_element_data->getRequired()): ?>
				required
			<?php endif;?>
			<?php if ($this->getIsFormKeyExist()): ?>
				disabled="disabled"
			<?php endif;?>
			<?php if ($_element_data->getData('attributes')): ?>
				<?php foreach ($_element_data->getAttributes() as $name => $value): ?>
					<?php if (strpos($value, '"') !== false ): ?>
						<?php echo $name; ?>='<?php echo (string) $value; ?>'				
					<?php else: ?>
						<?php echo $name; ?>="<?php echo (string) $value; ?>"
					<?php endif; ?>
				<?php endforeach;?>
			<?php endif;?>
		>
			<?php foreach ($_element_data->getOptions() as $key => $_option): ?>
				<option
					value="<?php echo $_option['value']; ?>"
					<?php if (strtolower($_option['value']) == strtolower($this->getFormValues())): ?>
							selected="selected"
					<?php endif;?>
				>
					<?php echo $_option['label']; ?>
				</option>
			<?php endforeach;?>
		</select>
	</div>
</div>
<?php if (!empty($_element_data->getData('clearfix_after'))): ?>
	<div class="clearfix"></div>
<?php endif; ?>
