<?php $_element_data = $this->getElementData();?>
<?php if (!empty($_element_data->getData('clearfix_before'))): ?>
	<div class="clearfix"></div>
<?php endif; ?>
<div class="col-md-<?php echo (($_element_data->getColumn()) ? $_element_data->getColumn() : '12'); ?>">
	<div class="slider <?php echo $this->getFieldName(); ?>-<?php echo $this->getElementName(); ?>"
		data-builder-default-value="<?php echo $this->getFormValues(); ?>"
		>
		<div class="row">
			<div class="col-sm-12">
				<div
				class="slider-range <?php echo $this->getFieldName(); ?>-<?php echo $this->getElementName(); ?>"
				<?php if ($_element_data->getData('attributes')): ?>
					<?php foreach ($_element_data->getAttributes() as $name => $value): ?>
						<?php echo $name; ?>="<?php echo (string) $value; ?>"
					<?php endforeach;?>
				<?php endif;?>
				></div>
				<div class="pull-left">Php <span class="slider-left"></span></div>
				<div class="pull-right">Php <span class="slider-right"></span></div>
			</div>
			<div class="col-sm-8 add-top">
				<input
				data-builder-default-value="<?php echo $this->getFormValues(); ?>"
				type="number"
				class="form-control amount"
				name="<?php echo $this->getFieldName(); ?>[<?php echo $this->getElementName(); ?>]<?php if ($this->getFormGroupType() == MegaForm_Builder_Block_Form_Entities_Abstract::FIELD_MULTIPLE): ?>[]<?php endif;?>"
				<?php if ($_element_data->getRequired()): ?>
					required
				<?php endif;?>
				<?php if ($this->getIsFormKeyExist()): ?>
					disabled="disabled"
				<?php endif;?>
				<?php if ($_element_data->getData('attributes')): ?>
					<?php foreach ($_element_data->getAttributes() as $name => $value): ?>
						<?php if (strpos($value, '"') !== false ): ?>
							<?php echo $name; ?>='<?php echo (string) $value; ?>'				
						<?php else: ?>
							<?php echo $name; ?>="<?php echo (string) $value; ?>"
						<?php endif; ?>
					<?php endforeach;?>
				<?php endif;?>
				>
			</div>
			<div class="col-sm-4">
				<input type="button" class="btn btn-change" pattern="[0-9.]+" value="CHANGE">
			</div>
			<div class="clearfix"></div>
			<div class="col-md-6">
				<span>Total Value : Php </span><span class="total_value"></span>
			</div>
		</div>
	</div>
</div>
<?php if (!empty($_element_data->getData('clearfix_after'))): ?>
	<div class="clearfix"></div>
<?php endif; ?>
